################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Database1.sqlproj.user
/Database2/obj/Debug
/obj/Debug
/Database1.dbmdl
/Database2/Database2.sqlproj.user
/Database1/Database1.sqlproj.user
/Database1/bin/Debug
/Database1/obj/Debug
/Database1/Database1.dbmdl
/Database1/Database1.jfm
/Database2/bin/Debug
/Database2/Database2.dbmdl
/Database2/Database2.jfm
